/*! CSS Used from: http://127.0.0.1:5000/static/css/a.css */
label{display:inline-block;}
button,input{overflow:visible;}
h4{margin-top:0;}
h4,label{margin-bottom:.5rem;}
body{text-align:left;}
header,nav{display:block;}
a{background-color:transparent;}
*,::after,::before{box-sizing:border-box;}
body{font-family:Rubik,sans-serif;font-size:.875rem;font-weight:400;line-height:1.5;background-color:#f2f4f5;}
[tabindex="-1"]:focus{outline:0!important;}
a{text-decoration:none;}
a{-webkit-text-decoration-skip:objects;}
a:hover{color:#381be7;}
table{border-collapse:collapse;}
th{text-align:inherit;}
button{border-radius:0;}
button:focus{outline:dotted 1px;outline:-webkit-focus-ring-color auto 5px;}
button,input,select{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,select{text-transform:none;}
button{-webkit-appearance:button;}
button::-moz-focus-inner{padding:0;border-style:none;}
[type=search]{outline-offset:-2px;-webkit-appearance:none;}
h4{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.2;color:inherit;}
h4{font-size:18px;}
.container-fluid{padding-right:10px;padding-left:10px;margin-right:auto;margin-left:auto;width:100%;}
.row{display:flex;flex-wrap:wrap;margin-right:-10px;margin-left:-10px;}
.col-5,.col-lg-12,.col-lg-6,.col-md-12{position:relative;width:100%;min-height:1px;padding-right:10px;padding-left:10px;}
.col-5{flex:0 0 41.66667%;max-width:41.66667%;}
@media (min-width:768px){
.col-md-12{flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-6{flex:0 0 50%;max-width:50%;}
.col-lg-12{flex:0 0 100%;max-width:100%;}
}
.table{width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent;}
.table td,.table th{padding:1rem;vertical-align:top;border-top:1px solid #dee2e6;}
.table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6;}
.table-hover tbody tr:hover{background-color:#f6f8f9;}
.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;}
.navbar{flex-wrap:wrap;}
.navbar{padding:.5rem 1rem;}
.navbar{position:relative;display:flex;align-items:center;justify-content:space-between;}
@media (min-width:768px){
.navbar-expand-md{flex-flow:row nowrap;justify-content:flex-start;}
}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:0 solid transparent;border-radius:0;}
.card-body{flex:1 1 auto;padding:1.25rem;}
.card-title{margin-bottom:.75rem;}
.page-wrapper{transition:.2s ease-in;}
.border-top-0{border-top:0!important;}
.d-flex{display:flex!important;}
.align-items-center{align-items:center!important;}
.align-self-center{align-self:center!important;}
.mb-0{margin-bottom:0!important;}
@media print{
tr{page-break-inside:avoid;}
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
thead{display:table-header-group;}
body{min-width:992px!important;}
.navbar{display:none;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
}
#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin6]{background:#fff;}
#main-wrapper{width:100%;overflow:hidden;}
.page-wrapper{background:#f2f4f5;position:relative;display:none;}
.page-wrapper>.container-fluid{padding:20px;min-height:calc(100vh - 180px);}
#main-wrapper[data-layout=vertical][data-header-position=fixed] .topbar{position:fixed;width:100%;}
#main-wrapper[data-layout=vertical][data-header-position=fixed] .page-wrapper{padding-top:64px;}
*{outline:0;}
body{margin:0;overflow-x:hidden;color:#6a7a8c;background:#fff;}
a{color:#2962FF;}
a:focus,a:hover{text-decoration:none;}
.card{margin-bottom:20px;}
.card .card-title{position:relative;font-weight:400;margin-bottom:10px;}
.topbar{transition:.2s ease-in;}
.table th,.table thead th,label{font-weight:500;}
.topbar{position:relative;z-index:50;box-shadow:1px 0 7px rgba(0,0,0,.05);background:#fff;height:64px;}
.topbar .top-navbar{min-height:64px;padding:0;}
.page-breadcrumb{padding:20px 20px 0;}
.page-breadcrumb .page-title{margin-bottom:0;font-weight:500;font-size:21px;}
.table.dataTable{border-collapse:collapse!important;}
.dataTables_wrapper{padding:0;}
.chat-windows{position:fixed;bottom:0;right:300px;height:350px;max-height:350px;z-index:9999;transition:.6s;}
table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0;}
table.dataTable thead th{font-weight:bold;}
table.dataTable thead th{padding:10px 18px;border-bottom:1px solid #111;}
table.dataTable thead th:active{outline:none;}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc{cursor:pointer;*cursor:hand;background-repeat:no-repeat;background-position:center right;}
table.dataTable thead .sorting{background-image:url("https://cdn.datatables.net/1.11.3/images/sort_both.png");}
table.dataTable thead .sorting_asc{background-image:url("https://cdn.datatables.net/1.11.3/images/sort_asc.png")!important;}
table.dataTable tbody tr{background-color:#fff;}
table.dataTable tbody td{padding:8px 10px;}
table.dataTable.no-footer{border-bottom:1px solid #111;}
table.dataTable th,table.dataTable td{box-sizing:content-box;}
.dataTables_wrapper{position:relative;clear:both;}
.dataTables_wrapper .dataTables_length{float:left;}
.dataTables_wrapper .dataTables_length select{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;padding:4px;}
.dataTables_wrapper .dataTables_filter{float:right;text-align:right;}
.dataTables_wrapper .dataTables_filter input{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;margin-left:3px;}
.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:.755em;}
.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:.25em;}
.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:.5em 1em;margin-left:2px;text-align:center;text-decoration:none!important;cursor:pointer;*cursor:hand;color:#333!important;border:1px solid transparent;border-radius:2px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666!important;border:1px solid transparent;background:transparent;box-shadow:none;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white!important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%);}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111;}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{color:#333;}
.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0;}
@media screen and (max-width: 767px){
.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center;}
.dataTables_wrapper .dataTables_paginate{margin-top:.5em;}
}
@media screen and (max-width: 640px){
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center;}
.dataTables_wrapper .dataTables_filter{margin-top:.5em;}
}
/*! CSS Used from: https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css */
table.dataTable td.dataTables_empty{text-align:center;}
table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0;}
table.dataTable thead th{font-weight:bold;}
table.dataTable thead th{padding:10px 18px;border-bottom:1px solid #111;}
table.dataTable thead th:active{outline:none;}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc{cursor:pointer;*cursor:hand;background-repeat:no-repeat;background-position:center right;}
table.dataTable thead .sorting{background-image:url("https://cdn.datatables.net/1.11.3/images/sort_both.png");}
table.dataTable thead .sorting_asc{background-image:url("https://cdn.datatables.net/1.11.3/images/sort_asc.png")!important;}
table.dataTable tbody tr{background-color:#fff;}
table.dataTable tbody td{padding:8px 10px;}
table.dataTable.no-footer{border-bottom:1px solid #111;}
table.dataTable th,table.dataTable td{box-sizing:content-box;}
.dataTables_wrapper{position:relative;clear:both;}
.dataTables_wrapper .dataTables_length{float:left;}
.dataTables_wrapper .dataTables_length select{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;padding:4px;}
.dataTables_wrapper .dataTables_filter{float:right;text-align:right;}
.dataTables_wrapper .dataTables_filter input{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;margin-left:3px;}
.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:.755em;}
.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:.25em;}
.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:.5em 1em;margin-left:2px;text-align:center;text-decoration:none!important;cursor:pointer;*cursor:hand;color:#333!important;border:1px solid transparent;border-radius:2px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666!important;border:1px solid transparent;background:transparent;box-shadow:none;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white!important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%);}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111;}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{color:#333;}
.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0;}
@media screen and (max-width: 767px){
.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center;}
.dataTables_wrapper .dataTables_paginate{margin-top:.5em;}
}
@media screen and (max-width: 640px){
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center;}
.dataTables_wrapper .dataTables_filter{margin-top:.5em;}
}
/*! CSS Used fontfaces */
@font-face{font-family:Rubik;font-style:normal;font-weight:300;src:local('Rubik Light'),local('Rubik-Light'),url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WU.ttf) format('truetype');}
@font-face{font-family:Rubik;font-style:normal;font-weight:400;src:local('Rubik'),local('Rubik-Regular'),url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');}
@font-face{font-family:Rubik;font-style:normal;font-weight:500;src:local('Rubik Medium'),local('Rubik-Medium'),url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WU.ttf) format('truetype');}
@font-face{font-family:Rubik;font-style:normal;font-weight:700;src:local('Rubik Bold'),local('Rubik-Bold'),url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7F6iGmd8WU.ttf) format('truetype');}
@font-face{font-family:Rubik;font-style:normal;font-weight:900;src:local('Rubik Black'),local('Rubik-Black'),url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7FCimmd8WU.ttf) format('truetype');}